/*Algemene opmaak en layout voor mobile (<481px) */


/* 
achtergrond - kleur -lettertype - lijn hoogte - breedte
box-sizing activeren en een kleiner lettertype
*/

header,
section,
aside,
article,
footer,
.description {
    box-sizing: border-box;
    padding-left: 0.5em;
}

body {
    background-color: #ffffff;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.2em;
    width: 100%;
}


/* achtergrond en hoogte instellen */

header {
    background-color: #aeaca8;
    >picture {
        display: none;
    }
}


/* 
tekst ipv afbeelding voor de laagste resolutie
font vergroten - breedte en float want icoon voor uitklapmenu moet ernaast komen
*/

h1 {
    color: #de6581;
    font-size: 1.5em;
    width: 75%;
    float: left;
}


/*Uitklapmenu - icon */

nav {
    ul {
        display: none;
        background-color: #aeaca8;
    }
    &:hover ul {
        display: block;
    }
    li {
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: 0;
        }
        a {
            display: block;
            padding: .5em .8em;
            color: black;
            &.current {
                color: #de6581;
                cursor: default;
            }
        }
    }
}


/*
kleiner lettertype voor p en a in section
*/

section p,
section a {
    font-size: 0.8em;
}


/*
opmaak afbeeldingen dimensies komen overeen met dimensies van *-small.jpg
en extra ruimte onderaan voor de figcaption - centreren
*/

figure {
    max-width: 218px;
    max-height: 170px;
    padding: 1em 1em 0;
    border: 1px solid #eeeeee;
}

figcaption {
    font-size: 90%;
    text-align: left;
}

.description {
    padding-top: 0.2em;
    padding-bottom: 0.5em;
}


/*
opmaak anchors
*/

aside section a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid #eeeeee;
    &:hover {
        color: #985d6a;
        background-color: #efefef;
    }
}


/*
opmaak headings
*/

h1,
h2,
h3 {
    font-weight: normal;
}

h2 {
    font-size: 1.3em;
    padding: 0.5em 0 0.1em;
}

h3 {
    font-size: 1.1em;
    padding: 0.4em 0;
    color: #de6581;
}


/* tussenlijntje met section */

aside {
    border-top: 1px solid #eee;
}


/*
opmaak nav en footer
*/

nav,
footer {
    color: #ffffff;
    background-color: #aeaca8;
}


/*
specifieke opmaak voor footer
*/

footer {
    text-align: center;
    font-size: 75%;
    height: 5%;
}

@media screen and (min-width: 480px) {
    header {
        padding: 0;
        >picture {
            display: block;
            max-height: 65px;
            background-image: url(../images/header-medium-bg.jpg);
            background-repeat: repeat-x;
            background-position: top right;
        }
    }
    h1 {
        display: none;
    }
    nav {
        margin-top: 2px;
        >a {
            display: none;
        }
        ul {
            display: block;
            padding: .1em;
        }
        li {
            display: inline-block;
            padding-left: .5em;
            margin-right: .5em;
            border-bottom: 0;
            /* Add animation for bounce */
            &:hover a {
                animation: bounce 400ms;
            }
        }
    }
    section.courses {
        float: left;
        width: 55%;
    }
    aside {
        width: 45%;
        float: left;
        border-top: 0px;
    }
    footer {
        clear: both;
    }
    figure {
        margin: 2em 0 0;
        figcaption {
            position: relative;
            left: -200px;
            transition: transform 300ms ease-in-out;
        }
        /* Fly in caption from the side */
        &:hover figcaption {
            transform: translateX(200px);
        }
    }
    section.popular-recipes,
    section.contact-details {
        padding-top: 2em;
    }
    /* zoom in on the popular recipe links on hover */
    section.popular-recipes {
        a {
            transition: all 300ms linear;
            &:hover {
                transform-origin: center left;
                transform: scale(1.2);
            }
        }
    }
}


/*Layout voor desktop (>992px) */

@media screen and (min-width: 992px) {
    /* Slide in the top banner when loading the page */
    header>picture {
        animation: slideIn 2s ease-in-out;
        max-height: 130px;
        background-image: url(../images/header-bg.jpg);
    }
    nav li {
        padding-left: 1em;
        font-size: 1.1em;
    }
    section.courses {
        width: 70%;
    }
    aside {
        width: 30%;
    }
    figure {
        float: left;
        max-width: 290px;
        max-height: 220px;
        margin-right: 1.5em;
    }
    article {
        overflow: auto;
        width: 100%;
    }
    .description {
        padding-top: 1.5em;
    }
}


/* Add keyframes for slide in and bounce */

@keyframes slideIn {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(3px);
    }
}