/*Algemene opmaak en layout voor mobile (<481px) */
/* 
achtergrond - kleur -lettertype - lijn hoogte - breedte
box-sizing activeren en een kleiner lettertype
*/
header,
section,
aside,
article,
footer,
.description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0.5em;
}

body {
  background-color: #ffffff;
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.2em;
  width: 100%;
}

header {
  background-color: #aeaca8;
}

header > picture {
  display: none;
}

/* 
tekst ipv afbeelding voor de laagste resolutie
font vergroten - breedte en float want icoon voor uitklapmenu moet ernaast komen
*/
h1 {
  color: #de6581;
  font-size: 1.5em;
  width: 75%;
  float: left;
  margin: 0.5em;
}

/*Uitklapmenu - icon */
nav ul {
  display: none;
  background-color: #aeaca8;
}

nav:hover ul {
  display: block;
}

nav li {
  border-bottom: 1px solid #eee;
}

nav li:last-child {
  border-bottom: 0;
}

nav li a {
  text-decoration: none;
  display: block;
  padding: 0.5em 0.8em;
  color: black;
}

nav li a:hover {
  color: #de6581;
  background-color: #666666;
}

nav li a.current {
  color: #de6581;
  cursor: default;
}

/*
kleiner lettertype voor p en a in section
*/
section p,
section a {
  font-size: 0.8em;
}

/*
opmaak afbeeldingen dimensies komen overeen met dimensies van *-small.jpg
en extra ruimte onderaan voor de figcaption - centreren
*/
figure {
  max-width: 218px;
  max-height: 170px;
  padding: 1em 1em 0;
  border: 1px solid #eeeeee;
}

figcaption {
  font-size: 90%;
  text-align: left;
}

.description {
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}

/*
opmaak anchors
*/
aside section a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid #eeeeee;
  color: #de6581;
  text-decoration: none;
}

aside section a:hover {
  color: #985d6a;
  background-color: #efefef;
}

/*
opmaak headings
*/
h1,
h2,
h3 {
  font-weight: normal;
}

h2 {
  font-size: 1.3em;
  padding: 0.5em 0 0.1em;
}

h3 {
  font-size: 1.1em;
  padding: 0.4em 0;
  color: #de6581;
}

/* tussenlijntje met section */
aside {
  border-top: 1px solid #eee;
}

/*
opmaak nav en footer
*/
nav,
footer {
  color: #ffffff;
  background-color: #aeaca8;
}

/*
specifieke opmaak voor footer
*/
footer {
  text-align: center;
  font-size: 75%;
  height: 5%;
}

@media screen and (min-width: 480px) {
  header {
    padding: 0;
  }
  header > picture {
    display: block;
    max-height: 65px;
    background-image: url(../images/header-medium-bg.jpg);
  }
  h1 {
    display: none;
  }
  nav {
    margin-top: 2px;
  }
  nav > a {
    display: none;
  }
  nav ul {
    display: block;
    padding: 0.1em;
  }
  nav li {
    display: inline-block;
    padding-left: 0.5em;
    margin-right: 0.5em;
    border-bottom: 0;
    /* Opdracht 1: bij het hoveren over de menu items */
    /* moeten deze bouncen.                            */
    /**************************************************/
  }
  nav li a:hover {
    color: black;
    background-color: transparent;
  }
  nav li:hover a {
    -webkit-animation: bounce 400ms;
            animation: bounce 400ms;
  }
  section.courses {
    float: left;
    width: 55%;
  }
  aside {
    width: 45%;
    float: left;
    border-top: 0px;
  }
  footer {
    clear: both;
  }
  figure {
    margin: 2em 0 0;
    /* Opdracht 2: bij het hoveren over figure moet */
    /* de figcaption binnenvliegen vanaf links.     */
    /************************************************/
  }
  figure figcaption {
    /* Zet de figcaption op zijn beginpositie: 200px naar links */
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
  }
  figure:hover figcaption {
    /* Schuif de figcaption terug naar zijn oorspronkelijke plaats */
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  section.popular-recipes,
  section.contact-details {
    padding-top: 2em;
  }
  section.popular-recipes a {
    /* Opdracht 3: bij het hoveren over de popular recipe links */
    /* moeten deze 1.2 maal vergroten                            */
    /************************************************************/
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  section.popular-recipes a:hover {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/*Layout voor desktop (>992px) */
@media screen and (min-width: 992px) {
  /* Opdracht 4: bij het laden van de pagina moet  */
  /* de top banner op zijn plaats schuiven.         */
  header > picture {
    -webkit-animation: slidein 2s;
            animation: slidein 2s;
    max-height: 130px;
    background-image: url(../images/header-bg.jpg);
  }
  nav li {
    padding-left: 1em;
    font-size: 1.1em;
  }
  section.courses {
    width: 70%;
  }
  aside {
    width: 30%;
  }
  figure {
    float: left;
    max-width: 290px;
    max-height: 220px;
    margin-right: 1.5em;
  }
  article {
    overflow: auto;
    width: 100%;
  }
  .description {
    padding-top: 1.5em;
  }
}

/* de keyframes van de bounce animation (Opdracht 1) */
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}
@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

/* de keyframes van de slidein animation (Opdracht 4) */
@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slidein {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */